@import "./variables.scss";

.blog-section {
  &__head {
    padding: 0 30px;
    margin: 20px 0;
  }
  .blog-section-posts__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .post {
      width: 100%;

      padding: 15px 20px;
      background-color: white;
      color: $text-color;
      border-bottom: 1px solid #e0e0e0;
      margin-bottom: 20px;
      @media (min-width: 1400px) {
        padding: 30px;
        margin-bottom: 0;
      }
      & .post__title {
        font-size: 22px;
        line-height: 1;
        margin: 0 auto 20px;
        line-height: 30px;
        a {
          color: inherit;
          &:hover {
            color: $secondary;
          }
        }
      }
      & .post__properties {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
      }
      & .post__date {
        padding-right: 20px;
        border-right: 1px solid $text-color;
      }
      & .post__description {
        text-align: justify;
      }
    }
  }
}
