.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  min-height: 50px;
  line-height: 1;
  transition: all ease-in 0.1s;
  border-radius: 5px;
  border: none;
  &-primary {
    color: white;
    background-color: $primary;
    &:hover {
      background-color: $deep-primary;
    }
  }
  &-secondary {
    color: white;
    background-color: $secondary;
    &:hover {
      background-color: $dark-secondary;
    }
  }
  &-black {
    color: white;
    background-color: $text-color;
    &:hover {
      background-color: $primary;
    }
  }
  &._disabled {
    cursor: auto;
    pointer-events: none;
    background-color: $light;
  }
}
