header.shadow {
  .header-menu {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
.header-menu {
  width: 100%;
  background-color: white;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all ease 1s;
  @media (min-width: 768px) {
    display: block;
  }
  .header-menu__list-wrapper {
    .header-menu {
      &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        list-style-type: none;
        padding: 0;
        margin: 0;
        min-height: 50px;
      }
      &__item {
        &_active {
          text-shadow: 0 0 1px currentColor;
        }
      }
      &__item a {
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        text-decoration: none;
        padding: 0 5px;
        color: $text-color;
        transition: all ease .1s;
        &:hover {
          text-shadow: 0 0 1px currentColor;
        }
        
      }
    }
  }
}
