.recent-works {
  padding-bottom: 20px;
  & &__head {
    color: $text-color;
    font-size: 18px;
    margin: 60px auto 20px;
    font-weight: 400;
    text-align: center;
    @media (min-width: 576px) {
      margin-bottom: 30px;
      font-size: 22px;
      text-align: left;
    }
  }
  & &__list {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 20px;
    margin-bottom: 20px;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1400px) {
      grid-template-columns: repeat(4, 1fr);
    }
    .work {
      max-width: 400px;

      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }
      @media (min-width: 1200px) {
        &:nth-child(3) {
          display: block;
        }
      }
      @media (min-width: 1400px) {
        &:nth-child(4) {
          display: block;
        }
      }
    }
  }
}
