// colors
$primary: rgba(255, 100, 100, 1);
$dark-primary: rgb(218, 84, 84);
$deep-primary: rgb(252, 68, 68);
$secondary: rgb(32, 186, 220);
$dark-secondary: rgba(0, 168, 204, 1);
$dark: rgba(33, 36, 61, 1);
$light: rgba(134, 149, 164, 1);
$dark-color: rgba(33, 36, 61, 1);
$text-color: #21243D;
$light-secondary: #EDF7FA;

// fonts 
$main-font-family-name: Roboto;
$font-style-normal: normal;
$font-style-italic: italic;
$font-styles: (
  normal: $font-style-normal,
  italic: $font-style-italic
);
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weights: (
  regular: $font-weight-regular,
  bold: $font-weight-bold
);
$font-display-swap: swap;
$font-display: $font-display-swap;
$font-format: 'woff2';
$unicode-range-cyrillic-ext: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
$unicode-range-cyrillic: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
$unicode-range-latin-ext: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
$unicode-range-latin: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
$unicode-ranges: (
  cyrillic-ext: $unicode-range-cyrillic-ext,
  cyrillic: $unicode-range-cyrillic,
  latin-ext: $unicode-range-latin-ext,
  latin: $unicode-range-latin
);
$font-family-sans-serif: $main-font-family-name, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;


%menu-burger-sticks {
  position: absolute;
  height: 2px;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: black;
}

