@import './variables.scss';

.works-section {
  & &__head {
    color: $text-color;
    font-size: 18px;
    margin: 60px auto 20px;
    font-weight: 400;
    text-align: center;
    @media (min-width: 576px) {
      margin: 20px auto 30px;
      font-size: 2rem;
      text-align: left;
      font-weight: 500;
    }
  }
  & &__list {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-items: center;
    grid-gap: 20px;
    margin-bottom: 20px;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1400px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
